<div class="post on-list">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  <div class="post-meta">
    <span class="post-date">
      {{ .PublishDate.Format "2006-01-02" }}
      {{ with .Lastmod }}
        [Updated: {{ .Format "2006-01-02" }}]
      {{ end }}
    </span>
  </div>

  <span class="post-tags">
    {{ range .Params.tags }}
      {{ with $.Site.GetPage (printf "/tags/%s" . ) }}
          <a class="terms-title" href="{{ .Permalink }}">
            #{{ .Title }}
          </a>&nbsp;
      {{ end }}
    {{ end }}
  </span>

  {{ partial "cover.html" . }}

  <div class="post-content">
    {{- .Summary | markdownify -}}
    {{ if .Truncated }}...{{ end }}
  </div>
  <div>
    <a class="read-more button" href="{{ .RelPermalink }}">{{ $.Site.Params.ReadMore }} →</a>
  </div>
</div>
