{{ if not (.Get "file") }}
  {{ errorf "\"file\" parameter is not set" }}
{{ end }}
{{ $path := path.Join .Page.File.Dir (.Get "file") }}
{{/* 先頭に改行を入れないと上手くレンダリングされない */}}
{{ $code := print "\n" (readFile $path) }}

{{ $lang := default "text" (.Get "language") }}
{{ $title := default "code" (.Get "title") }}
{{ $id := delimit (shuffle (seq 1 9)) "" }}

<div class="collapsable-code">
  <input id="{{- $id -}}" type="checkbox" />
  <label for="{{- $id -}}">
    <span class="collapsable-code__language">{{- $lang -}}</span>
    <span class="collapsable-code__title">{{- $title -}}</span>
    <span class="collapsable-code__toggle" data-label-expand="△" data-label-collapse="▽"></span>
  </label>
  <pre class="language-{{- $lang -}}"><code>{{- $code -}}</code></pre>
</div>
